*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container.top-btm{
    max-width: 1000px;
    margin: auto;
}

.container.full-body{
    max-width: 800px;
    margin: auto;
}

h2{
    font-size: 30px;
    margin: 30px auto;
}


div.spacer{
    width: 80px;
    height: 5px;
    border-top: 1px solid rgb(194, 187, 187);
}

a.button{
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-align: center;
}

div.button-deck{
    background-color: blue;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* header  */
header{
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.lft.head{
    width: 35%;
    display: flex;
    align-items: center;
}

.rght.head{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.header-ul ul{
    list-style: none;
    font-size: 12px;
}

div.header-ul li{
    display: inline-block;
    margin: 0 15px;
}

div.header-logo{
    transform: scale(0.7);
}

.rght.head a{
    background-color: blue;
    padding: 8px 12px;
}





/* hero  */

.container.relative{
    position: relative;
    top: 70px;
}

section.hero{
    background-color: rgb(126, 195, 241);

}

h1.title-hero{
    font-size: 70px;
    padding-top: 60px;
}

div.hero-btm-content{
    width: 100%;
    padding-top: 40px;
    display: flex;  
}

div.hero-btm-content .hero-txt{
    width: 35%;
}

div.hero-btm-content .hero-img{
    width: 65%;
}

.hero-img img{
    width: 100%;
}

.hero-txt{
    font-size: 14px;
}

.hero-txt i{
    margin: 40px 0 10px 0;
    font-size: 40px;
}

.hero-txt a.button{
    background-color: blue;
    padding: 8px 14px;
    display: block;
    width: 60%;
    margin: 20px 0;
}




/* SECTION PLAN BUSINESS */


/* month-year section  */
div.month-year{
    display: flex;
    margin: 35px auto;
}

.month-pay, .year-pay{

    margin-right: 50px;
}

div.billing-ttl{
    margin-top: 100px;
}

.month-year i{
    border-radius: 50%;
    color: white;
    font-size: 12px;
}

.month-pay i{
    border: 4px solid blue;
}

.year-pay i{
    border: 2px solid gray;
}



/* billing  */
div.billing-opt{
    font-size: 12px;
    height: 820.33px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.billing-opt .column{
    height: 100%;
    width: 30%;
    border: 1px solid rgb(194, 187, 187);

}

div.billing-btm-opt{
    font-size: 12px;
    height: 200px;
    border: 1px solid rgb(194, 187, 187);
    width: 100%;
    margin: 35px auto;

}

div.billing-btm-opt .title-div{
    border-bottom: 1px solid rgb(194, 187, 187);
    text-align: center;
    padding: 8px;
}

div.btn-container{
    margin: 25px;
    display: flex;
    justify-content: space-between;
}

div.clmn-icon{
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 10px;
}

div.clmn-content{
    margin: 25px 20px;
}

div.clmn-content .pricing{
    font-weight: 900;
    margin: 17px 0 15px 0;
}

div.clmn-content .clmn-content-marg{
    margin-bottom: 45px;
}

div.clmn-specific{
    padding-bottom: 10px;
}

.clmn-spec-row{
    margin-bottom: 20px;
    display: flex;
}

.clmn-spec-row .spec-row-txt{
    margin-left: 5px;
}

.btn-trial{
    background-color: blue;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.btn-trial a.button{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.buy-now{
    margin-bottom: 35px;
}

.buy-now a{
    color: blue;
}

.clmn-assets h4{
    margin: 25px 0;
}

.clmn-assets i{
    color: blue;
}

div.button-deck.opt{
    width: 198px;
    margin-top: 0;
}

div.left-txt{
    width: 60%;
}

.left-txt h4{
    margin: 15px 0 40px 0;
}

section.billing h3{
    font-size: 20px;
}




/* partner section  */
.container.partner{
    margin: 110px auto;
    display: flex;
}

div.partner-img{
    width: 65%;

}

div.partner-img img{
    width: 100%;
}

div.partner-txt{
    width: 35%;
    margin: 35px 30px 0 30px;
}

div.partner-txt p{
    font-size: 14px;
    margin: 15px 0;
}

div.button-deck.empty-btm{
    width: 50%;
    background-color: white;
    border: 1px solid black;
}

a.button.empty-btm{
    color: black;
}




/* 6 cards section  */
.container.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.card{
    width: 30%;
    margin-top: 30px;
}

div.card img{
    width: 100%;
}

div.card p{
    font-size: 12px;
    margin-top: 20px;
}

div.cards-title h2{
    margin: 0;
}



/* call2action section  */
.cta-cntr{
    width: 60%;
    margin: 120px 0;
}

.cta-cntr a{
    color: blue;
    font-size: 12px;
}




/* squares section left  */
.container.squares{
    display: flex;
}

.four-squares-lft{
    height: calc(100vw / 3);
    border: 1px solid black;
    background-color: brown;
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}


/* squares section center  */
.square-big{
    height: calc(100vw / 3);
    border: 1px solid black;
    width: calc(100% / 3);
}

.square-big .square-container{
    margin: 50px;
}

.square-big-logo{
    width: 50%;
}

.square-big-logo img{
    width: 100%;
}

div.spacer.sq-sect{
    margin: 30px 0;
}

.square-container p, .square-container span{
    font-size: 12px;
    margin-bottom: 30px;
}



/* squares section right  */
.four-squares-rght{
    height: calc(100vw / 3);
    border: 1px solid black;
    background-color: rgb(165, 112, 42);
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 50%;
    border: 1px solid black;

}



/* bottom squares section  */
section.squares-bottom{
    background-color: rgb(126, 195, 241);

}

.container.free-trial{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

div.sq-btm-title{
    width: 50%;
}

div.sq-btm-but{
    width: 30%;
    padding-top: 14px;
}

div.sq-btm-but a{
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 6px 30px;
}

div.sq-btm-title h2{
    margin: 0;
}



/* faq section  */
.container.faq{
    margin: 120px auto;
}

.container.faq div.question{
    padding: 30px 0;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}

.container.faq div.question.btm{
    border-bottom: 1px solid gray;
}

.container.faq p{
    display: none;
    margin-bottom: 15px;
}

.faq-question:hover p{
    display: inline-block;
    font-size: 12px;
}




/* footer  */
footer{
    background-color: black;
    color: white;
}

footer .container.top-btm{
    padding: 20px 0 15px 0;
}

.foot-clmn{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.foot-ul{
    width: 20%;
}

.foot-clmn ul{
    list-style: none;
    font-size: 12px;
}

ul.footer-ul span{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 18px;

}

ul.footer-ul li{
    margin: 10px 0;
}

div.language{
    margin: 30px 0;
}

div.language span{
    font-size: 12px;
}


